
*{
    margin:0;
    padding: 0;
}

.banner-section {
    background-image:url('images/n.jpg') ;
        background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
}